header,
section,
footer,
aside,
nav,
main,
article,
figure {
	display: block;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	/* background-color: #f1ebda; */
  min-width: 100%;
  font-size: 20px
}
nav {
  background-color: #fff !important;
  border-bottom: 1px solid #ccc;
}
.uk-logo {
  width: 70%;
}
.uk-navbar a {
  text-transform: unset !important;
  font-size: 16px !important;
}
header {
  background-image: url("../images/windmills.jpg");
}
header h3, .uk-card-small h3, .uk-card-small h4, footer h4 {
  color: #fff !important;
}
.border-bottom {
  border-bottom: 4px solid #000;
}
.border-top {
  border-top: 4px solid #000;
}
.uk-card-small {
  background-color: #36336f;
}
.uk-card-small h4 {
  font-size: 20px;
}
footer {
  border-top: 1px solid #ccc;
  background: #666;
  color: #f2f2f2;
  font-size: 18px;
}
footer a {
  color: #f2f2f2 !important;
}
footer .createdBy {
  font-size: 12px;
}
footer a {
  text-decoration: underline;
}